<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row" id="input">
        <form id="add-task" class="form-control mb-3">
          <input id="new-task" class="my-1" type="text" placeholder=" new to do" required/>
          <button class="btn-default rounded add-btn" type="submit">add</button>
        </form>
      </div>
      <div class="row" id="tasks"></div>
    </div>
  </div>
</div>