<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row" id="input">
        <form id="add-task" class="form-control mb-3">
          <input id="new-task" class="my-1" type="text" placeholder=" new to do" required/>
          <button class="btn-default rounded" type="submit">add</button>
        </form>
      </div>
      <div class="row" id="tasks"></div>
      <form id="filter-choice">
        <input type="radio" id="filter-all" name="filter" value="all">
        <label for="filter-all">all</label><br>
        <input type="radio" id="filter-active" name="filter" value="active">
        <label for="filter-active">active</label><br>
        <input type="radio" id="filter-completed" name="filter" value="completed">
        <label for="filter-completed">completed</label>
      </form>
    </div>
  </div>
</div>